body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #50c9c3, #96deda);
}

.login-container {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}
.signUp-container {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}
h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: 700;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #50c9c3;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #45b8af;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
