@import '../../styles/global.css';

.plan-card {
    background: var(--white);
    border-radius: var(--border-radius);
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.plan-card h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.meal-section {
    margin-bottom: 2rem;
}

.meal-section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.meal-item {
    margin-left: 1rem;
}

.meal-item h4 {
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.meal-item ul {
    list-style-type: disc;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.meal-item li {
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}
#workout-container pre {
    white-space: pre-wrap; /* Preserves formatting and ensures wrapping */
    word-wrap: break-word; /* Ensures long words wrap properly */
    overflow: auto; /* Adds scrolling if needed */
    max-width: 100%; /* Ensures content stays within the container */
}
